# Ignore all env files
**/.env

# Ignore all node_modules folders
**/node_modules/

# Ignore build artifacts
**/dist/
**/build/

# Ignore log files
*.log

# Optional: Ignore keep files if you don't want Git to track them
**/.keep
